body {background: black;text-align: center;}

h1 {
	font: normal 50px/1em Verdana;
	color:white;
	margin:0 auto;
}
h2 {
	font: normal 300 42px/1em Verdana;
	color: white;
}
a {
	color: Aquamarine;
	font-size: 16px;
}
p {
	font: normal 21px/1em Verdana;
	color: Grey;
}
video {margin: 0 auto;}