/* ###### main styles */
body {
	background: black;
	text-align: center;
}

h1 {
	font: normal bold 50px/1em Verdana;
	color: white;
	margin: 40 auto;
}

h2 {
	font: normal 300 42px/1em Verdana;
	color: white;
	margin: 40px 0;
}

.cta {
	font-size: 16px;
	color: Aquamarine;
}

p {
	font: normal 21px/1em Verdana;
	color: Grey;
}

footer {
	text-align: right;
	padding: 10px;
}